*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto Mono', monospace;
}

header{
    background-image: linear-gradient(to right, rgba(79, 172, 254, 0.705) 0%, rgba(0, 241, 254, 0.705) 100%),url('../Images/3\ en\ 1.jpg');
    width: 100%;
    height: 700px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    position: relative;
    overflow:hidden;
}

.textos-header{
    height: 500px;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.textos-header h1{
    font-size: 70px;
}

.textos-header p{
    font-size: 30px;
    margin-bottom: 20px;
}

.textos-header a{
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 13px 16px;
    background: rgb(12, 12, 12);
    border-radius: 8px;
}

